.formBody{
    background-color: #e0e0e0;
}

.inputForm{
    padding: 2em 12em;
}

.example-full-width {
  width: 100%;
}

.formMenu {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

md-card{
    margin: 2em 0em;
}